# service config
PORT=3000

# wallet config
WALLET_FILE=./wallets/wallet.json

# frontend config
ENABLE_SELF_HOSTED_FRONTEND=true

# captcha config
REQUIRE_CAPTCHA_VERIFICATION=true
CAPTCHA_SECRET=<hcaptcha-secret-key>
CAPTCHA_SITE_VERIFY_URL=<hcaptcha-site-verify-url>
CAPTCHA_SITE_KEY=<hcaptcha-site-key>

# logging config
LOG_LEVEL=info
LOG_FORMAT=json

# rate limiting config
RATE_LIMIT_WINDOW_SECONDS=3600 # 1 hour
RATE_LIMIT_THRESHOLD=10 # requests per window
