# service config
PORT=3000

# wallet config
WALLET_FILE=./wallets/wallet.json

# frontend config
DISABLE_SELF_HOSTED_FRONTEND=false

# captcha config
DISABLE_CAPTCHA_VERIFICATION=false
CAPTCHA_SECRET=<hcaptcha-secret-key>
CAPTCHA_SITE_VERIFY_URL=<hcaptcha-site-verify-url>

# logging config
LOG_LEVEL=info
LOG_FORMAT=json

# rate limiting config
RATE_LIMIT_WINDOW_SECONDS=3600 # 1 hour
RATE_LIMIT_THRESHOLD=10 # requests per window
